<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RecordMockProxy</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/vue-router.js"></script>
    <script src="js/vendor/axios.js"></script>
    <script src="js/vendor/moment-with-locales.min.js"></script>
    <script src="js/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <span class="nav-link disabled">RecordMockProxy</span>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/record"><span class="fa fa-database"></span> Record</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/mock"><span class="fa fa-clone"></span> Mock</router-link>
        </li>
        <li class="nav-item">
            <router-link class="nav-link" active-class="active" to="/proxy"><span class="fa fa-server"></span> Proxy</router-link>
        </li>
    </ul>
    <div id="content">
        <router-view></router-view>
    </div>
</div>

<script type="text/x-template" id="record">
    <div class="tab-content">
        <div class="form-inline tab-menu">
            <button class="btn btn-outline-secondary btn-sm">
                <span class="fa fa-trash-alt"></span>
            </button>
            &nbsp;
            <button class="btn btn-outline-secondary btn-sm">
                <span class="fa fa-file-download"></span>
            </button>
            &nbsp;
            <input type="text" class="form-control form-control-sm" placeholder="path filter" size="80">
            &nbsp;
            <div class="custom-control custom-switch secondary">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Auto scroll</label>
            </div>
        </div>
        <div class="tab-body">
            <div id="record-list">
                <table class="table table-sm table-striped" id="record-list-table">
                    <thead>
                        <tr style="position:sticky; top:0rem;">
                            <th style="width:8%;">Date</th>
                            <th style="width:60%;">Path</th>
                            <th style="width:8%;">Method</th>
                            <th style="width:8%;">Type</th>
                            <th style="width:8%;">Status</th>
                            <th style="width:8%;">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(id, index) in recordRows" v-on:click="showDetail(id)" v-bind:style="id == selectId ? 'background-color:#007bff;color:white;': ''">
                            <td>{{ records[id].date | timeformat }}</td>
                            <td>{{ records[id].request.host }}{{ records[id].request.path }}{{ records[id].request.query ? '?' : '' }}{{ records[id].request.query }}</td>
                            <td>{{ records[id].request.method }}</td>
                            <td v-if="records[id].response">{{ records[id].response.contentType }}</td>
                            <td v-if="records[id].response">{{ records[id].response.statusCode }}</td><td v-else><br></td>
                            <td v-if="records[id].response">{{ records[id].response.time }}</td><td v-else><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <transition name="slide-fade">
                <div id="record-detail" v-if="detail">
                    <ul class="nav nav-pills" id="#record-detail-tabs">
                        <li class="nav-item" v-on:click="closeDetail">
                            <span class="nav-link nav-link-small disabled"><span class="fa fa-times"></span></span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link nav-link-small" v-on:click="detailTab='request'" v-bind:class="{active: detailTab=='request'}">Request</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link nav-link-small" v-on:click="detailTab='response'" v-bind:class="{active: detailTab=='response'}">Response</span>
                        </li>
                        <li class="nav-item nav-link-small dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 0rem 0.5rem">Action...</a>
                            <div class="dropdown-menu">
                                <span class="dropdown-item" v-on:click="createMock()">Mock</span>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item disabled" href="#">Download Request</span>
                                <span class="dropdown-item" href="#">Download Response</span>
                            </div>
                        </li>
                    </ul>
                    <div id="record-detail-content">
                        <div v-if="detailTab == 'request'">
                            <div class="header-row" v-for="(value,name) in records[selectId].request.headers">
                                <span class="header-name">{{name}}:</span> {{value}}
                            </div>
                            <hr>
                            {{records[selectId].request.bodyfile}}
                        </div>
                        <div v-if="detailTab == 'response'">
                            <div class="header-row" v-for="(value,name) in records[selectId].response.headers">
                                <span class="header-name">{{name}}:</span> {{value}}
                            </div>
                            <hr>
                            <body-content v-bind:targetid="selectId" v-bind:contenttype="records[selectId].response.contentType" type="response"></body-content>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</script>

<script type="text/x-template" id="mock">
    <div class="tab-content">
        <div class="form-inline tab-menu">
            <button class="btn btn-outline-secondary btn-sm">
                <span class="fa fa-plus"></span>
            </button>
            &nbsp;
            <button class="btn btn-outline-secondary btn-sm">
                <span class="fa fa-trash-alt"></span>
            </button>
            &nbsp;
            <input type="text" class="form-control form-control-sm" placeholder="path filter" size="80">
        </div>
        <div class="tab-body">
            <div id="mock-list">
                <table class="table table-sm table-striped" id="mock-list-table">
                    <thead>
                    <tr style="position:sticky; top:0rem;">
                        <th style="width:90%;">Path</th>
                        <th style="width:10%;">Method</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(mock, index) in mocks" v-on:click="showDetail(mock.target.id, index)" v-bind:style="mock.target.id == selectId ? 'background-color:#007bff;color:white;': ''">
                            <td>{{ mock.target.host }}{{ mock.target.path }}{{ mock.target.query ? '?' : '' }}{{ mock.target.query }}</td>
                            <td>{{ mock.target.method }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="mock-detail">
                <div id="mock-detail-content">
                    <form>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ mocks[selectIndex].target.method }}</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">GET</a>
                                    <a class="dropdown-item" href="#">POST</a>
                                    <a class="dropdown-item" href="#">PUT</a>
                                    <a class="dropdown-item" href="#">DELETE</a>
                                    <a class="dropdown-item" href="#">HEAD</a>
                                    <a class="dropdown-item" href="#">PATCH</a>
                                    <a class="dropdown-item" href="#">OPTIONS</a>
                                </div>
                            </div>
                            <input type="text" class="form-control" v-bind="url">
                            <div class="input-group-append" id="button-addon4">
                                <button class="btn btn-outline-secondary" type="button"><span class="fa fa-save"></span></button>
                                <button class="btn btn-outline-secondary" type="button"><span class="fa fa-trash-alt"></span></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mockRule" class="col-sm-1 col-form-label">Rule</label>
                            <div class="col-sm-11">
                                <select class="form-control form-control-sm" id="mockRule" v-model="mocks[selectIndex].rule">
                                    <option>REPEAT</option>
                                    <option>ONCE</option>
                                    <option>RANDOM</option>
                                    <option>PROXY</option>
                                </select>
                            </div>
                        </div>

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <span class="nav-link active">1<span class="fa fa-times" style="margin-left:1rem;"></span></span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">2</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">3</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">4</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link disabled"><span class="fa fa-plus"></span></span>
                            </li>
                        </ul>
                        <div id="mock-response">
                            <table class="table table-sm table-striped" id="mock-head-table">
                                <thead>
                                <tr style="position:sticky; top:0rem;">
                                    <th style="width:20%;">Header</th>
                                    <th style="width:75%;border-right:none;">Value</th>
                                    <th class="button-cell" style="width:5%;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="n in 10">
                                    <td contenteditable="true">Content-Type</td>
                                    <td contenteditable="true" style="border-right:none;">text/html;</td>
                                    <td ><span class="fa fa-times"></span></td>
                                </tr>
                                <tr>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true" style="border-right:none;"></td>
                                    <td class="button-cell"></td>
                                </tr>
                                </tbody>
                            </table>

                            <h6>Body</h6>
                            <div class="btn-group btn-group-toggle " data-toggle="buttons">
                                <label class="btn btn-outline-secondary btn-sm active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Text
                                </label>
                                <label class="btn btn-outline-secondary btn-sm">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> File
                                </label>
                            </div>
                            <pre id="mock-text-body" contenteditable="true">
                                {
                                    "test": "result"
                                }
                            </pre>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script src="js/index.js"></script>
</body>
</html>